// for small desktops and tablets
@media (max-width: 1142px) {
  .wrapper {
    max-width: 847px;
  }

  .main-container {
    flex-direction: column-reverse;
  }
  
  .images-list {
    max-width: initial;
    width: 100%;
    flex-basis: auto;
    padding: 70px 50px 35px 50px;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .interactive-window {
    width: 100%;
    flex-basis: auto;
    margin-bottom: 70px;
  }
}

// for tablets
@media (max-width: 867px) {
  .wrapper {
    max-width: 690px;
  }

  .coffee-cup {
    right: 120px;
    bottom: 20px;
  }

  .crumpled-paper {
    left: 75px;
    bottom: 120px;
  }

  .bottled-water {
    bottom: 210px;
    left: 130px;
  }
}

// for tablets and landscape phones
@media (max-width: 867px) {
  .wrapper {
    max-width: 480px;
  }

  .interactive-window {
    background: url('../images/main-window-bg-480.jpg') no-repeat center;
  }

  .coffee-cup {
    right: 0;
    bottom: 100px;
  }

  .crumpled-paper {
    left: 40px;
    bottom: 205px;
  }

  .fork {
    bottom: 80px;
    right: 210px;
  }

  .post-it {
    right: 10px;
    top: 200px;
  }

  .sunrise {
    right: 0;
  }

  .bottled-water {
    bottom: 20px;
    left: 105px;
  }


}
